{% extends "blog/base.html" %}
{% load my_tag %}
{% block content %}

<main class="container">
  {% for object in object_list %}
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <img src="{{ object.image | media_fil }}" class="img-thumbnail">
      <h1 class="display-4 fst-italic">{{ object.title }}</h1>
      <p class="lead my-3">{{ object.content|truncatechars:50 }}</p>
      <p class="lead mb-0"><a href="{% url 'blog:post_detail' object.pk%}" class="text-body-emphasis fw-bold">Читать целиком</a></p>
    </div>
  </div>
  {% endfor %}
</main>
{% endblock %}