{% extends "catalog/base.html" %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="row-item ">
            <div class="card mb-4 box-shadow">
                <h2 class="my-0 font-weight-normal mb-4">Удаление объекта</h2>
                <h4 class="my-0 font-weight-normal mb-4">Вы уверены что хотите удалить продукт '{{ object.name }}'?</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <button type="submit" class="btn btn-danger">Удалить</button>
                    <a class="btn btn-primary" href="{% url 'catalog:product_list' %}" role="button">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}